  {% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="row container-fluid">
      
    <div class="col-2"></div>
    <div class="col-4  " >
    
        <img src="{% static 'images/ONLINE SHOPING.jpg' %}" alt="rong"  style="width:430px;height:500px;margin-top:30px;">
        <button class="acard rounded-1 mt-2 bg-warning">ADD NOW </button>
        <button class="bcard rounded-1 mt-2 bg-danger">BOY NOW </button>

    </div>
     
    <!-- <button class="a">Add Card </button> -->
     
    <div class="col-4 pt-5"> 
        <h4>Dr. Ortho Wrist Brace with Thumb, Wrist Splint Hand Brace for Men & Women Splints</h4>
        <h4 style="
             width:60px;
            height: 40px;
            background-color:green;
            color:white;
        " class="rounded-2 ps-2 fs-2  ">4 <b style="color:white;" class="fs-2">&#162;</b>	  </h4>
<p >
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    </div>

    <div class="col-2"></div>
       
               
            
        </div>
        <!-- End Bradcaump area -->
{% endblock %}  